.VideoCard2{
  display: flex;
  /* align-items: top; */
  margin-bottom: -35px;
  
}

.VideoCard2 img{
    width: 370px;
    border-radius: 50px;
    
}
.VideoCard2 .te{
     /* margin: 20px 0; */
     display: flex;
     flex-direction: column;
     /* justify-content: center; */
     /* margin-bottom: 90px; */
     margin-top: 40px;
     margin-left: 20px;
}

.VideoCard2 .te h2{
    font-size: 20px;
    /* margin-bottom: 40px; */

}
.VideoCard2 p{
    color: #AAAAAA;
    font-weight: 700;
    font-size: 80%;
    padding: 3px 0;
}
.VideoCard2 .te .para{
    margin-top: 8px;
}

.VideoCard2 .ch{
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.VideoCard2 .ch p{
    margin-left: 10px;
}